FileTransfer v4/StrategyPatternExample/StrategyPatternExample/bin/
FileTransfer v4/StrategyPatternExample/StrategyPatternExample/obj/
FileTransfer v4/StrategyPatternExample/FileTransferSolution.v11.suo
FileTransfer v4/StrategyPatternExample/FileTransferSolution.v12.suo
SimpleP2PExample/bin/
SimpleP2PExample/obj/
SimpleP2PExample.v12.suo
SimpleP2PExample.v11.suo