FileTransfer v4/StrategyPatternExample/StrategyPatternExample/bin/
FileTransfer v4/StrategyPatternExample/StrategyPatternExample/obj/
SimpleP2PExample.v11.suo
FileTransfer v4/StrategyPatternExample/FileTransferSolution.v11.suo

